---
title: Performance of Pattern Matching
---

<img src="/images/haskell-logo.png" style="float: right; margin: 10px;" />

<p>This site records benchmarks of various pattern matching features of Haskell</p>

<h2>Posts</h2>
$partial("templates/post-list.html")$

<p>…or you can find more in the <a href="/archive.html">archives</a>.</p>
